<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review for <%= album.title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
<h1>New Review for <%= album.title %></h1>
<form class="new-review-form">
  <textarea class="new-review-box" rows="25" cols="50"></textarea>
  <button type="submit" class="submit-review-button">Submit</button>
</form>
</body>
</html>
