<!DOCTYPE html>
<html>
<head>
  <title>Sign Up%></title>
  <%- include ./partials/scripts_style.ejs %>
</head>
<body>
  <%- include ./partials/navbar.ejs %>
  <br>

  <h1 class="authentication-form-title">Sign Up for Vinyl</h1>
  <br>
  <br>
  <form class="authentication-form" action="/signup" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name"></input>
    <br>
    <br>
    <label for="email">Email</label>
    <input type="text" name="email"></input>
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password"></input>
    <br>
    <br>
    <% if (message) { %>
      <h5 class="message"><%= message %></h5>
    <% } %>
    <button type="submit" class="authentication-button">Submit</button>
  </form>

</body>
</html>
