html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline;
  float: left;
}

.navbar {
  height: 40px;
}

.right-side-links {
  float: right;
}

.first-right-link {
  margin-right: 20px;
}

.album-list {
  float: left;
}

.recent-review-list {
  float: right;
}

.album-page-title {
  text-align: center;
}

.album-review-list {
  padding-left: 190px;
  padding-right: 190px;
}

.profile-pic {
  display: inline-block;
  vertical-align: middle;
}

.user-page-title {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.user-review-list {
  padding-left: 210px;
  padding-right: 180px;
}

.album-review-list-title {
  display: inline-block;
}

.new-review-page-button {
  display: inline-block;
}

.album-reviewed {
  display: inline-block;
}

.review-date {
  display: inline-block;
}

.review-content {
  margin-left: 15px;
}

.space-before-author {
  display: inline-block;
}

.review-author {
  display: inline-block;
}

.fa-trash {
  margin-left: 40px;
}

.new-review-form-title {
  padding-left: 200px;
}

.new-review-form {
  padding-left: 250px;
  padding-right: 200px;
}

.submit-review-button {
  float: right;
  margin-right: 118px;
}

.authentication-form-title {
  text-align: center;
}

.authentication-form {
  text-align: center;
}

.authentication-form label {
  width: 75px;
}

.authentication-button {
  margin-left: 182px;
}

.message {
  color: red;
}
